---
---
<!DOCTYPE html>
<html>
<head>
  <title>Notes ikdoeict</title>
</head>
<body>
<h1>It's alive!</h1>
<p>Voor nu: kijk nog naar <a href="https://haroen.me/notes-eoict">https://haroen.me/notes-eoict</a></p>
<div class="repos">
  {% assign repos = site.github.public_repositories | sort: 'created_at' | reverse%}
  {% for repo in repos %}
  {% unless repo.fork %}
  <article>
    {{repo.created_at}}
    <h2><a href="{{ repo.html_url }}">{{repo.name}}</a></h2>
    {% if repo.homepage %}
    <a href="{{repo.homepage}}">homepage</a>
    {% elsif repo.has_pages %}
    <a href="https://haroen.me/{{ repo.name }}">homepage</a>
    {% endif %}
    <p>{{ repo.description}}</p>
  </article>
  {% endunless %}
  {% endfor %}
</div>
<footer>
  <p>Vind ons op <a href="https://github.com/ikdoeict-notes">github.com/ikdoeict-notes</a></p>
</footer>
</body>
</html>
